<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-fs-fscm-intg-woprojects-sit2-adg5b3hgdze0c9gq.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/264e0859-9f8a-427b-9990-a7282a6df30e/resourceGroups/rg-d365-fs-fscm-intg-wo-projects-eastus/providers/Microsoft.Web/sites/app-fs-fscm-intg-woprojects-sit2</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://app-fs-fscm-intg-woprojects-sit2-adg5b3hgdze0c9gq.scm.eastus2-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>